<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/Login.css" rel="stylesheet"/>
    <script defer src="/js/login.js"></script>
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/signup" method="POST">
			<h1>Create Account</h1>
            <br>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
			<span>or use your email for registration</span>
            <br>
			<input name="name" type="text" placeholder="Name" required/>
			<input name="email" type="email" placeholder="Email" required/>
			<input name="password" type="password" placeholder="Password" required/>
			<input name="phno" type="text" placeholder="Phone Number" required/>
			<input name="address" type="text" placeholder="Address" required/>
			<input name="pin" type="Number" placeholder="PinCode" required/>
			<input name="city" type="text" placeholder="City" required/>
			<input name="state" type="text" placeholder="State" required/>
			<input name="country" type="text" placeholder="Country" required/>
			
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/signin" method="POST">
			<h1>Sign in</h1>
            <br>
            <!-- <div class="social-container"> 
				<a href="#" class="social"></a>
				<a href="#" class="social"></i></a>
				<a href="#" class="social"></i></a>
			</div>-->
			<span>please Enter your details</span>
            <br>
			<input name="email" type="email" placeholder="Email" required/>
			<input name="password" type="password" placeholder="Password" required/>
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
                <!-- <img class="Img-logo" src="/img/logo-images/WRAP-green-logo.png" alt="logo"> -->
                <br>
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<p style="color: red;"><%=err%></p>
                <br>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
                <!-- <img class="Img-logo" src="/img/logo-images/WRAP-green-logo.png" alt="logo"> -->
                <br>
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<p style="color: red;"><%=err%></p>
				<button class="ghost" id="signUp" >Sign Up</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>