<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Detox</title>
    <script src="https://cdn.tailwindcss.com"></script>
	<link href="/css/Home.css" rel="stylesheet"/>
	<script defer src="/js/calender1.js"></script>
	<script defer src="/js/Home.js"></script>
	<link rel="icon" href="/img/logo-images/favicon.ico">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5846616521312298" crossorigin="anonymous"></script>
</head>
<body>
	
	

		<section id= 'ScheduleSuccess' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto justify-center" >
			<div class="flex justify-center items-center mt-4">
				<img class="w-[550px]" src="/img/logo-images/Schedule-Success.svg"/>
			</div>
			<div>
				<h1 class="text-center text-4xl font-semibold p-2 leading-none">Pickup Scheduled Successfully</h1>
				<h1 class="text-center text-lg font-lg p-2 leading-none">An associate will get in touch with you soon.</h1>
			</div>
			<div class="flex justify-center">
				<a href="#Dashboard">
					<button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
				</a>
			</div>
		</section>

		<section id= 'DropoffSuccess' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto justify-center" >
			<div class="flex justify-center items-center mt-0">	
				<img class="h-[300px]" src="/img/logo-images/Drop-off-success.svg"/>
			</div>
			<div>
				<h1 class="text-center text-4xl font-semibold p-2 leading-none">Drop Off Scheduled Successfully</h1>
				<h1 class="text-center text-lg font-lg p-2 leading-none">You can drop off at your nearest collection center during working hours.</h1>
			</div>
			<div class="flex justify-center">
				<a href="#Dashboard">
					<button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
				</a>
			</div>
		</section>

		<section id= 'ReportdumpSuccess' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto justify-center" >
			<div class="flex justify-center items-center mt-0">	
				<img class="w-[450px]" src="/img/logo-images/ReportDump-Success.svg"/>
			</div>
			<div>
				<h1 class="text-center text-4xl font-semibold p-2 leading-none">Dump reported Successfully</h1>
				<h1 class="text-center text-lg font-lg p-2 leading-none">Nearest authorities will be informed and necessary actions wil be taken.</h1>
			</div>
			<div class="flex justify-center">
				<a href="#Dashboard">
					<button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
				</a>
			</div>
		</section>
<!-- 
		<section id= 'OrderbinSuccess' class="flex flex-col w-[87%] fixed h-[90%] bg-gray-50 ml-[13%] mt-[5%] gap-4 overflow-x-auto justify-center" >
			<div class="flex justify-center items-center mt-0">	
				<img class="w-[450px]" src="/img/logo-images/OrderBin-Success.svg"/>
			</div>
			<div>
				<h1 class="text-center text-4xl font-semibold p-2 leading-none">Order Placed Successfully</h1>
				<h1 class="text-center text-lg font-lg p-2 leading-none">Your request is processed. WRAP bins will be delivered to you soon.</h1>
			</div>
			<div class="flex justify-center">
				<a href="#Dashboard">
					<button class="w-48 h-12 rounded-lg bg-[#009743] text-white">Go back</button>
				</a>
			</div>
		</section> -->

	</div>
	
		
</body>

</html>